Finance_and_Accounting/Bank Transaction Categorizer with Dynamic Visual Dashboard.json
{
  "name": "Bank Transaction Categorizer with Dynamic Visual Dashboard",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Sample bank transaction data (Aug-Oct 2024)\n// In production, replace this with actual CSV import or webhook data\n\nconst transactionData = [\n  // PAYROLL & TAXES\n  { date: '2024-08-05', description: 'ADP WAGE PAY 323298036 WAGE PAY', amount: -1210.23, category: 'Payroll', month: 'Aug' },\n  { date: '2024-08-12', description: 'ADP WAGE PAY 323298036 WAGE PAY', amount: -1210.23, category: 'Payroll', month: 'Aug' },\n  { date: '2024-08-19', description: 'ADP WAGE PAY 323298036 WAGE PAY', amount: -1210.23, category: 'Payroll', month: 'Aug' },\n  { date: '2024-08-26', description: 'ADP WAGE PAY 323298036 WAGE PAY', amount: -1210.24, category: 'Payroll', month: 'Aug' },\n  { date: '2024-09-02', description: 'ADP WAGE PAY 323298036 WAGE PAY', amount: -982.42, category: 'Payroll', month: 'Sep' },\n  { date: '2024-09-09', description: 'ADP WAGE PAY 323298036 WAGE PAY', amount: -982.42, category: 'Payroll', month: 'Sep' },\n  { date: '2024-09-16', description: 'ADP WAGE PAY 323298036 WAGE PAY', amount: -982.42, category: 'Payroll', month: 'Sep' },\n  { date: '2024-09-23', description: 'ADP WAGE PAY 323298036 WAGE PAY', amount: -982.41, category: 'Payroll', month: 'Sep' },\n  { date: '2024-10-07', description: 'ADP WAGE PAY 323298036 WAGE PAY', amount: -692.22, category: 'Payroll', month: 'Oct' },\n  { date: '2024-10-14', description: 'ADP WAGE PAY 323298036 WAGE PAY', amount: -692.22, category: 'Payroll', month: 'Oct' },\n  { date: '2024-10-21', description: 'ADP WAGE PAY 323298036 WAGE PAY', amount: -692.21, category: 'Payroll', month: 'Oct' },\n  { date: '2024-10-28', description: 'ADP WAGE PAY 323298036 WAGE PAY', amount: -692.21, category: 'Payroll', month: 'Oct' },\n  \n  // TAXES\n  { date: '2024-08-05', description: 'ADP Tax LJO3X', amount: -297.58, category: 'Payroll Taxes', month: 'Aug' },\n  { date: '2024-08-12', description: 'ADP Tax AA', amount: -297.58, category: 'Payroll Taxes', month: 'Aug' },\n  { date: '2024-08-19', description: 'ADP Tax LU', amount: -297.58, category: 'Payroll Taxes', month: 'Aug' },\n  { date: '2024-08-26', description: 'ADP Tax AC', amount: -297.57, category: 'Payroll Taxes', month: 'Aug' },\n  { date: '2024-09-02', description: 'ADP Tax LJO3X', amount: -268.62, category: 'Payroll Taxes', month: 'Sep' },\n  { date: '2024-09-09', description: 'ADP Tax AA', amount: -268.61, category: 'Payroll Taxes', month: 'Sep' },\n  { date: '2024-09-16', description: 'ADP Tax LU', amount: -268.61, category: 'Payroll Taxes', month: 'Sep' },\n  { date: '2024-09-23', description: 'ADP Tax AC', amount: -268.62, category: 'Payroll Taxes', month: 'Sep' },\n  { date: '2024-10-07', description: 'ADP Tax LJO3X', amount: -328.65, category: 'Payroll Taxes', month: 'Oct' },\n  { date: '2024-10-21', description: 'ADP Tax AC', amount: -328.64, category: 'Payroll Taxes', month: 'Oct' },\n  \n  // SALES TAX\n  { date: '2024-08-10', description: 'FLA DEPT REVENUE SALES TAX', amount: -2335.22, category: 'Sales Tax', month: 'Aug' },\n  { date: '2024-08-25', description: 'FLA DEPT REVENUE UT CUT', amount: -2335.22, category: 'Sales Tax', month: 'Aug' },\n  { date: '2024-09-15', description: 'FLA DEPT REVENUE SALES TAX', amount: -3653.46, category: 'Sales Tax', month: 'Sep' },\n  { date: '2024-10-15', description: 'FLA DEPT REVENUE SALES TAX', amount: -2635.16, category: 'Sales Tax', month: 'Oct' },\n  \n  // LOAN PAYMENTS\n  { date: '2024-08-15', description: 'HEADWAYCAPITAL', amount: -8112.72, category: 'Loan Payment', month: 'Aug' },\n  { date: '2024-09-15', description: 'HEADWAYCAPITAL', amount: -7236.49, category: 'Loan Payment', month: 'Sep' },\n  { date: '2024-10-15', description: 'HEADWAYCAPITAL', amount: -7442.55, category: 'Loan Payment', month: 'Oct' },\n  { date: '2024-08-20', description: 'SBA FEES IN PROC', amount: -2500.00, category: 'SBA Fees', month: 'Aug' },\n  { date: '2024-09-20', description: 'SBA FEES IN PROC', amount: -2500.00, category: 'SBA Fees', month: 'Sep' },\n  \n  // SHIPPING\n  { date: '2024-08-08', description: 'WESHIPEXPRESS', amount: -2189.41, category: 'Shipping', month: 'Aug' },\n  { date: '2024-08-22', description: 'WESHIPEXPRESS', amount: -2189.41, category: 'Shipping', month: 'Aug' },\n  { date: '2024-09-12', description: 'WESHIPEXPRESS', amount: -5063.63, category: 'Shipping', month: 'Sep' },\n  { date: '2024-08-18', description: 'UPSBILLCTR', amount: -401.64, category: 'Shipping', month: 'Aug' },\n  \n  // UTILITIES\n  { date: '2024-09-05', description: 'FPL DIRECT DEBIT', amount: -1181.99, category: 'Utilities', month: 'Sep' },\n  { date: '2024-10-05', description: 'FPL DIRECT DEBIT', amount: -1175.79, category: 'Utilities', month: 'Oct' },\n  \n  // SAAS & SOFTWARE\n  { date: '2024-08-01', description: 'ZAPIER.COM/CHARGE', amount: -39.99, category: 'SaaS', month: 'Aug' },\n  { date: '2024-08-15', description: 'ZAPIER.COM/CHARGE', amount: -39.99, category: 'SaaS', month: 'Aug' },\n  { date: '2024-09-01', description: 'ZAPIER.COM/CHARGE', amount: -49.99, category: 'SaaS', month: 'Sep' },\n  { date: '2024-10-01', description: 'ZAPIER.COM/CHARGE', amount: -29.99, category: 'SaaS', month: 'Oct' },\n  { date: '2024-08-05', description: 'OPENAI*CHATGPT SU', amount: -67.50, category: 'SaaS', month: 'Aug' },\n  { date: '2024-08-12', description: 'OPENAI*CHATGPT SU', amount: -67.50, category: 'SaaS', month: 'Aug' },\n  { date: '2024-08-19', description: 'RECURRING PURCHASE AT OPENAI', amount: -67.50, category: 'SaaS', month: 'Aug' },\n  { date: '2024-08-26', description: 'OPENAI', amount: -67.50, category: 'SaaS', month: 'Aug' },\n  { date: '2024-09-02', description: 'OPENAI*CHATGPT SU', amount: -86.67, category: 'SaaS', month: 'Sep' },\n  { date: '2024-09-16', description: 'OPENAI', amount: -86.67, category: 'SaaS', month: 'Sep' },\n  { date: '2024-09-23', description: 'OPENAI*CHATGPT SU', amount: -86.66, category: 'SaaS', month: 'Sep' },\n  { date: '2024-10-07', description: 'OPENAI', amount: -66.67, category: 'SaaS', month: 'Oct' },\n  { date: '2024-10-14', description: 'OPENAI*CHATGPT SU', amount: -66.67, category: 'SaaS', month: 'Oct' },\n  { date: '2024-10-21', description: 'OPENAI', amount: -66.66, category: 'SaaS', month: 'Oct' },\n  { date: '2024-08-10', description: 'DNH*GODADDY', amount: -39.97, category: 'SaaS', month: 'Aug' },\n  { date: '2024-08-20', description: 'DNH*GODADDY', amount: -39.97, category: 'SaaS', month: 'Aug' },\n  { date: '2024-09-10', description: 'DNH*GODADDY', amount: -57.95, category: 'SaaS', month: 'Sep' },\n  { date: '2024-08-15', description: 'ADOBE', amount: -34.99, category: 'SaaS', month: 'Aug' },\n  { date: '2024-10-15', description: 'ADOBE', amount: -35.00, category: 'SaaS', month: 'Oct' },\n  { date: '2024-08-01', description: 'AIRTABLE.COM', amount: -24.00, category: 'SaaS', month: 'Aug' },\n  { date: '2024-09-01', description: 'AIRTABLE.COM', amount: -24.00, category: 'SaaS', month: 'Sep' },\n  \n  // OWNER DRAWS / CARD PAYMENTS (estimated)\n  { date: '2024-08-05', description: 'CAPITAL ONE MOBILE PMT', amount: -1500.00, category: 'Owner/Card Payment', month: 'Aug' },\n  { date: '2024-08-12', description: 'CAPITAL ONE MOBILE PMT', amount: -1500.00, category: 'Owner/Card Payment', month: 'Aug' },\n  { date: '2024-08-19', description: 'CAPITAL ONE MOBILE PMT', amount: -1500.00, category: 'Owner/Card Payment', month: 'Aug' },\n  { date: '2024-08-26', description: 'CAPITAL ONE MOBILE PMT', amount: -1500.00, category: 'Owner/Card Payment', month: 'Aug' },\n  { date: '2024-09-02', description: 'CAPITAL ONE MOBILE PMT', amount: -1333.33, category: 'Owner/Card Payment', month: 'Sep' },\n  { date: '2024-09-16', description: 'CAPITAL ONE MOBILE PMT', amount: -1333.33, category: 'Owner/Card Payment', month: 'Sep' },\n  { date: '2024-09-23', description: 'CAPITAL ONE MOBILE PMT', amount: -1333.34, category: 'Owner/Card Payment', month: 'Sep' },\n  { date: '2024-10-07', description: 'CAPITAL ONE MOBILE PMT', amount: -666.67, category: 'Owner/Card Payment', month: 'Oct' },\n  { date: '2024-10-14', description: 'CAPITAL ONE MOBILE PMT', amount: -666.67, category: 'Owner/Card Payment', month: 'Oct' },\n  { date: '2024-10-21', description: 'CAPITAL ONE MOBILE PMT', amount: -666.66, category: 'Owner/Card Payment', month: 'Oct' },\n  { date: '2024-08-01', description: 'AMEX EPAYMENT AM ACH PMT', amount: -1799.00, category: 'Owner/Card Payment', month: 'Aug' },\n  { date: '2024-09-01', description: 'AMEX EPAYMENT AM ACH PMT', amount: -1799.00, category: 'Owner/Card Payment', month: 'Sep' },\n  { date: '2024-10-01', description: 'AMEX EPAYMENT AM ACH PMT', amount: -1799.00, category: 'Owner/Card Payment', month: 'Oct' },\n  { date: '2024-08-15', description: 'BK OF AMER MC ONLINE PMT', amount: -778.00, category: 'Owner/Card Payment', month: 'Aug' },\n  { date: '2024-10-08', description: 'BK OF AMER VISA ONLINE PMT', amount: -498.67, category: 'Owner/Card Payment', month: 'Oct' },\n  { date: '2024-10-15', description: 'BK OF AMER MC ONLINE PMT', amount: -498.67, category: 'Owner/Card Payment', month: 'Oct' },\n  { date: '2024-10-22', description: 'BK OF AMER VISA ONLINE PMT', amount: -498.66, category: 'Owner/Card Payment', month: 'Oct' },\n  \n  // OTHER RECURRING\n  { date: '2024-08-10', description: 'CAPITAL ONE AUTO CARPAY', amount: -396.57, category: 'Auto Payment', month: 'Aug' },\n  { date: '2024-09-10', description: 'CAPITAL ONE AUTO CARPAY', amount: -396.57, category: 'Auto Payment', month: 'Sep' },\n  { date: '2024-10-10', description: 'CAPITAL ONE AUTO CARPAY', amount: -400.00, category: 'Auto Payment', month: 'Oct' },\n  { date: '2024-09-01', description: 'ALLSTATE INS CO INS PREM', amount: -627.32, category: 'Insurance', month: 'Sep' },\n  { date: '2024-09-05', description: 'AFFIRM INC', amount: -395.03, category: 'Financing', month: 'Sep' },\n  { date: '2024-09-12', description: 'AFFIRM INC', amount: -395.03, category: 'Financing', month: 'Sep' },\n  { date: '2024-09-19', description: 'AFFIRM INC', amount: -395.02, category: 'Financing', month: 'Sep' },\n  { date: '2024-08-15', description: 'HUNTINGTON BANKS IL PAYMENT', amount: -624.58, category: 'Bank Fees', month: 'Aug' },\n  { date: '2024-09-15', description: 'HUNTINGTON BANKS IL PAYMENT', amount: -624.58, category: 'Bank Fees', month: 'Sep' },\n  { date: '2024-08-05', description: 'PAYPAL, INC. ACH/DEB', amount: -57.96, category: 'Payment Processing', month: 'Aug' },\n  { date: '2024-08-20', description: 'PAYPAL, INC. ACH/DEB', amount: -57.96, category: 'Payment Processing', month: 'Aug' },\n  { date: '2024-09-10', description: 'PAYPAL, INC. ACH/DEB', amount: -60.00, category: 'Payment Processing', month: 'Sep' },\n  { date: '2024-10-10', description: 'PAYPAL, INC. ACH/DEB', amount: -63.00, category: 'Payment Processing', month: 'Oct' },\n  \n  // DEPOSITS (Revenue)\n  { date: '2024-08-05', description: 'DEPOSIT', amount: 1737.00, category: 'Deposit', month: 'Aug' },\n  { date: '2024-09-10', description: 'DEPOSIT', amount: 517.00, category: 'Deposit', month: 'Sep' },\n  { date: '2024-10-08', description: 'DEPOSIT', amount: 1000.00, category: 'Deposit', month: 'Oct' },\n  { date: '2024-10-22', description: 'DEPOSIT', amount: 3500.00, category: 'Deposit', month: 'Oct' },\n  { date: '2024-09-15', description: 'RETURN SETTLE RETURN', amount: 4300.00, category: 'Deposit', month: 'Sep' },\n  { date: '2024-08-01', description: 'DAILY BALANCE ADJUST', amount: 4.60, category: 'Deposit', month: 'Aug' },\n  \n  // FINANCING (not revenue)\n  { date: '2024-09-20', description: 'HEADWAYCAPITAL ADVANCE', amount: 10000.00, category: 'Financing Inflow', month: 'Sep' },\n  { date: '2024-10-10', description: 'HEADWAYCAPITAL ADVANCE', amount: 6250.00, category: 'Financing Inflow', month: 'Oct' },\n  { date: '2024-10-24', description: 'HEADWAYCAPITAL ADVANCE', amount: 6250.00, category: 'Financing Inflow', month: 'Oct' },\n  \n  // MISC ONE-TIME EXPENSES (representative sample)\n  { date: '2024-08-03', description: 'JEANIE WITHDRAWAL', amount: -63.95, category: 'Misc (one-time)', month: 'Aug' },\n  { date: '2024-09-18', description: 'JEANIE WITHDRAWAL', amount: -203.50, category: 'Misc (one-time)', month: 'Sep' },\n  { date: '2024-08-07', description: 'ADP PAYROLL FEES 550374703', amount: -11.47, category: 'Payroll Fees', month: 'Aug' },\n  { date: '2024-08-14', description: 'ADP PAYROLL FEES 550374703', amount: -11.47, category: 'Payroll Fees', month: 'Aug' },\n  { date: '2024-08-21', description: 'ADP PAYROLL FEES 550374703', amount: -11.47, category: 'Payroll Fees', month: 'Aug' },\n  { date: '2024-09-04', description: 'ADP PAYROLL FEES 550374703', amount: -11.60, category: 'Payroll Fees', month: 'Sep' },\n  { date: '2024-09-11', description: 'ADP PAYROLL FEES 550374703', amount: -11.60, category: 'Payroll Fees', month: 'Sep' },\n  { date: '2024-09-18', description: 'ADP PAYROLL FEES 550374703', amount: -11.60, category: 'Payroll Fees', month: 'Sep' },\n  { date: '2024-09-25', description: 'ADP PAYROLL FEES 550374703', amount: -11.61, category: 'Payroll Fees', month: 'Sep' },\n  { date: '2024-10-02', description: 'ADP PAYROLL FEES 550374703', amount: -14.80, category: 'Payroll Fees', month: 'Oct' },\n  { date: '2024-10-09', description: 'ADP PAYROLL FEES 550374703', amount: -14.79, category: 'Payroll Fees', month: 'Oct' },\n  { date: '2024-10-16', description: 'ADP PAYROLL FEES 550374703', amount: -14.80, category: 'Payroll Fees', month: 'Oct' },\n  { date: '2024-10-23', description: 'ADP PAYROLL FEES 550374703', amount: -14.79, category: 'Payroll Fees', month: 'Oct' }\n];\n\nreturn [{ json: { transactions: transactionData } }];"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Load Transaction Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process and categorize transactions\nconst transactions = $input.first().json.transactions;\n\n// Calculate category totals\nconst categoryTotals = {};\nconst monthlyTotals = { Aug: 0, Sep: 0, Oct: 0 };\nconst categoryMonthly = {};\nconst expenseTransactions = [];\nconst revenueTransactions = [];\n\ntransactions.forEach(t => {\n  const amount = Math.abs(t.amount);\n  \n  // Separate revenue from expenses\n  if (t.amount > 0) {\n    revenueTransactions.push(t);\n  } else {\n    expenseTransactions.push(t);\n    \n    // Category totals\n    if (!categoryTotals[t.category]) {\n      categoryTotals[t.category] = 0;\n      categoryMonthly[t.category] = { Aug: 0, Sep: 0, Oct: 0 };\n    }\n    categoryTotals[t.category] += amount;\n    categoryMonthly[t.category][t.month] += amount;\n    \n    // Monthly totals\n    monthlyTotals[t.month] += amount;\n  }\n});\n\n// Calculate top vendors\nconst vendorTotals = {};\nexpenseTransactions.forEach(t => {\n  const vendor = t.description.split(' ')[0]; // Simple vendor extraction\n  if (!vendorTotals[vendor]) {\n    vendorTotals[vendor] = { total: 0, count: 0, category: t.category };\n  }\n  vendorTotals[vendor].total += Math.abs(t.amount);\n  vendorTotals[vendor].count++;\n});\n\nconst topVendors = Object.entries(vendorTotals)\n  .map(([name, data]) => ({ name, ...data }))\n  .sort((a, b) => b.total - a.total)\n  .slice(0, 15);\n\n// Calculate summary metrics\nconst totalExpenses = Object.values(categoryTotals).reduce((sum, val) => sum + val, 0);\nconst totalRevenue = revenueTransactions.reduce((sum, t) => sum + t.amount, 0);\nconst avgMonthlyExpense = totalExpenses / 3;\nconst transactionCount = expenseTransactions.length;\n\n// Prepare data for charts\nconst categoryLabels = Object.keys(categoryTotals);\nconst categoryValues = Object.values(categoryTotals);\n\nreturn [{\n  json: {\n    summary: {\n      totalExpenses: totalExpenses.toFixed(2),\n      totalRevenue: totalRevenue.toFixed(2),\n      avgMonthlyExpense: avgMonthlyExpense.toFixed(2),\n      transactionCount,\n      categoryCount: categoryLabels.length,\n      netCashFlow: (totalRevenue - totalExpenses).toFixed(2)\n    },\n    categoryTotals,\n    categoryMonthly,\n    monthlyTotals,\n    topVendors,\n    categoryLabels,\n    categoryValues,\n    expenseTransactions,\n    revenueTransactions\n  }\n}];"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Categorize & Analyze",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate interactive HTML dashboard\nconst data = $input.first().json;\nconst { summary, categoryTotals, categoryMonthly, monthlyTotals, topVendors, categoryLabels, categoryValues } = data;\n\n// Prepare data for Chart.js\nconst categoryColors = [\n  '#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF',\n  '#FF9F40', '#FF6384', '#C9CBCF', '#4BC0C0', '#FF6384',\n  '#36A2EB', '#FFCE56', '#9966FF', '#FF9F40', '#C9CBCF'\n];\n\nconst html = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Bank Transaction Analysis Dashboard</title>\n    <script src=\"https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js\"></script>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            padding: 20px;\n            color: #333;\n        }\n        \n        .container {\n            max-width: 1400px;\n            margin: 0 auto;\n        }\n        \n        .header {\n            background: white;\n            padding: 30px;\n            border-radius: 15px;\n            box-shadow: 0 10px 30px rgba(0,0,0,0.2);\n            margin-bottom: 30px;\n            text-align: center;\n        }\n        \n        .header h1 {\n            color: #667eea;\n            font-size: 2.5em;\n            margin-bottom: 10px;\n        }\n        \n        .header p {\n            color: #666;\n            font-size: 1.1em;\n        }\n        \n        .metrics-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));\n            gap: 20px;\n            margin-bottom: 30px;\n        }\n        \n        .metric-card {\n            background: white;\n            padding: 25px;\n            border-radius: 12px;\n            box-shadow: 0 5px 15px rgba(0,0,0,0.1);\n            transition: transform 0.3s ease, box-shadow 0.3s ease;\n        }\n        \n        .metric-card:hover {\n            transform: translateY(-5px);\n            box-shadow: 0 10px 25px rgba(0,0,0,0.15);\n        }\n        \n        .metric-label {\n            font-size: 0.9em;\n            color: #888;\n            margin-bottom: 10px;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n        }\n        \n        .metric-value {\n            font-size: 2em;\n            font-weight: bold;\n            color: #667eea;\n        }\n        \n        .metric-value.negative {\n            color: #e74c3c;\n        }\n        \n        .metric-value.positive {\n            color: #2ecc71;\n        }\n        \n        .charts-grid {\n            display: grid;\n            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));\n            gap: 30px;\n            margin-bottom: 30px;\n        }\n        \n        .chart-container {\n            background: white;\n            padding: 25px;\n            border-radius: 12px;\n            box-shadow: 0 5px 15px rgba(0,0,0,0.1);\n        }\n        \n        .chart-title {\n            font-size: 1.3em;\n            color: #333;\n            margin-bottom: 20px;\n            font-weight: 600;\n        }\n        \n        .table-container {\n            background: white;\n            padding: 25px;\n            border-radius: 12px;\n            box-shadow: 0 5px 15px rgba(0,0,0,0.1);\n            overflow-x: auto;\n        }\n        \n        table {\n            width: 100%;\n            border-collapse: collapse;\n        }\n        \n        th {\n            background: #667eea;\n            color: white;\n            padding: 15px;\n            text-align: left;\n            font-weight: 600;\n            text-transform: uppercase;\n            font-size: 0.85em;\n            letter-spacing: 1px;\n        }\n        \n        td {\n            padding: 12px 15px;\n            border-bottom: 1px solid #eee;\n        }\n        \n        tr:hover {\n            background: #f8f9ff;\n        }\n        \n        .amount {\n            font-weight: 600;\n            color: #e74c3c;\n        }\n        \n        .category-badge {\n            display: inline-block;\n            padding: 5px 12px;\n            border-radius: 20px;\n            background: #667eea;\n            color: white;\n            font-size: 0.85em;\n            font-weight: 500;\n        }\n        \n        .filter-section {\n            background: white;\n            padding: 20px;\n            border-radius: 12px;\n            box-shadow: 0 5px 15px rgba(0,0,0,0.1);\n            margin-bottom: 30px;\n        }\n        \n        .filter-controls {\n            display: flex;\n            gap: 15px;\n            flex-wrap: wrap;\n            align-items: center;\n        }\n        \n        .filter-controls select,\n        .filter-controls input {\n            padding: 10px 15px;\n            border: 2px solid #e0e0e0;\n            border-radius: 8px;\n            font-size: 1em;\n            outline: none;\n            transition: border-color 0.3s ease;\n        }\n        \n        .filter-controls select:focus,\n        .filter-controls input:focus {\n            border-color: #667eea;\n        }\n        \n        .export-btn {\n            background: #667eea;\n            color: white;\n            border: none;\n            padding: 12px 25px;\n            border-radius: 8px;\n            font-size: 1em;\n            cursor: pointer;\n            transition: background 0.3s ease;\n            font-weight: 600;\n        }\n        \n        .export-btn:hover {\n            background: #5568d3;\n        }\n        \n        @media (max-width: 768px) {\n            .charts-grid {\n                grid-template-columns: 1fr;\n            }\n            \n            .header h1 {\n                font-size: 1.8em;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>💰 Bank Transaction Analysis Dashboard</h1>\n            <p>August - October 2024 | Comprehensive Financial Overview</p>\n        </div>\n        \n        <div class=\"metrics-grid\">\n            <div class=\"metric-card\">\n                <div class=\"metric-label\">Total Expenses</div>\n                <div class=\"metric-value negative\">-$${summary.totalExpenses}</div>\n            </div>\n            <div class=\"metric-card\">\n                <div class=\"metric-label\">Total Revenue</div>\n                <div class=\"metric-value positive\">+$${summary.totalRevenue}</div>\n            </div>\n            <div class=\"metric-card\">\n                <div class=\"metric-label\">Avg Monthly Expense</div>\n                <div class=\"metric-value\">$${summary.avgMonthlyExpense}</div>\n            </div>\n            <div class=\"metric-card\">\n                <div class=\"metric-label\">Net Cash Flow</div>\n                <div class=\"metric-value ${parseFloat(summary.netCashFlow) >= 0 ? 'positive' : 'negative'}\">\n                    ${parseFloat(summary.netCashFlow) >= 0 ? '+' : ''}$${summary.netCashFlow}\n                </div>\n            </div>\n            <div class=\"metric-card\">\n                <div class=\"metric-label\">Total Transactions</div>\n                <div class=\"metric-value\">${summary.transactionCount}</div>\n            </div>\n            <div class=\"metric-card\">\n                <div class=\"metric-label\">Categories</div>\n                <div class=\"metric-value\">${summary.categoryCount}</div>\n            </div>\n        </div>\n        \n        <div class=\"filter-section\">\n            <h3 style=\"margin-bottom: 15px; color: #333;\">📊 Filter & Export</h3>\n            <div class=\"filter-controls\">\n                <select id=\"monthFilter\" onchange=\"filterData()\">\n                    <option value=\"all\">All Months</option>\n                    <option value=\"Aug\">August</option>\n                    <option value=\"Sep\">September</option>\n                    <option value=\"Oct\">October</option>\n                </select>\n                <select id=\"categoryFilter\" onchange=\"filterData()\">\n                    <option value=\"all\">All Categories</option>\n                    ${categoryLabels.map(cat => `<option value=\"${cat}\">${cat}</option>`).join('')}\n                </select>\n                <input type=\"text\" id=\"searchBox\" placeholder=\"Search transactions...\" onkeyup=\"filterData()\">\n                <button class=\"export-btn\" onclick=\"exportToCSV()\">📥 Export to CSV</button>\n            </div>\n        </div>\n        \n        <div class=\"charts-grid\">\n            <div class=\"chart-container\">\n                <div class=\"chart-title\">Expenses by Category</div>\n                <canvas id=\"categoryChart\"></canvas>\n            </div>\n            <div class=\"chart-container\">\n                <div class=\"chart-title\">Monthly Breakdown</div>\n                <canvas id=\"monthlyChart\"></canvas>\n            </div>\n        </div>\n        \n        <div class=\"chart-container\" style=\"margin-bottom: 30px;\">\n            <div class=\"chart-title\">📈 Category Spending Trends</div>\n            <canvas id=\"trendChart\" style=\"max-height: 400px;\"></canvas>\n        </div>\n        \n        <div class=\"table-container\">\n            <div class=\"chart-title\">🏆 Top 15 Vendors by Spend</div>\n            <table>\n                <thead>\n                    <tr>\n                        <th>#</th>\n                        <th>Vendor</th>\n                        <th>Category</th>\n                        <th>Total Spend</th>\n                        <th>Transactions</th>\n                        <th>Avg per Transaction</th>\n                    </tr>\n                </thead>\n                <tbody>\n                    ${topVendors.map((vendor, idx) => `\n                        <tr>\n                            <td>${idx + 1}</td>\n                            <td><strong>${vendor.name}</strong></td>\n                            <td><span class=\"category-badge\">${vendor.category}</span></td>\n                            <td class=\"amount\">$${vendor.total.toFixed(2)}</td>\n                            <td>${vendor.count}</td>\n                            <td>$${(vendor.total / vendor.count).toFixed(2)}</td>\n                        </tr>\n                    `).join('')}\n                </tbody>\n            </table>\n        </div>\n    </div>\n    \n    <script>\n        // Data from n8n\n        const categoryData = ${JSON.stringify(categoryTotals)};\n        const monthlyData = ${JSON.stringify(monthlyTotals)};\n        const categoryMonthlyData = ${JSON.stringify(categoryMonthly)};\n        const categoryLabels = ${JSON.stringify(categoryLabels)};\n        const categoryValues = ${JSON.stringify(categoryValues)};\n        const topVendors = ${JSON.stringify(topVendors)};\n        \n        // Chart colors\n        const colors = ${JSON.stringify(categoryColors)};\n        \n        // Category Pie Chart\n        const ctxCategory = document.getElementById('categoryChart').getContext('2d');\n        new Chart(ctxCategory, {\n            type: 'doughnut',\n            data: {\n                labels: categoryLabels,\n                datasets: [{\n                    data: categoryValues,\n                    backgroundColor: colors,\n                    borderWidth: 2,\n                    borderColor: '#fff'\n                }]\n            },\n            options: {\n                responsive: true,\n                maintainAspectRatio: true,\n                plugins: {\n                    legend: {\n                        position: 'right',\n                        labels: {\n                            padding: 15,\n                            font: { size: 12 }\n                        }\n                    },\n                    tooltip: {\n                        callbacks: {\n                            label: function(context) {\n                                const label = context.label || '';\n                                const value = context.parsed || 0;\n                                const total = context.dataset.data.reduce((a, b) => a + b, 0);\n                                const percentage = ((value / total) * 100).toFixed(1);\n                                return label + ': $' + value.toFixed(2) + ' (' + percentage + '%)';\n                            }\n                        }\n                    }\n                }\n            }\n        });\n        \n        // Monthly Bar Chart\n        const ctxMonthly = document.getElementById('monthlyChart').getContext('2d');\n        new Chart(ctxMonthly, {\n            type: 'bar',\n            data: {\n                labels: ['August', 'September', 'October'],\n                datasets: [{\n                    label: 'Monthly Expenses',\n                    data: [monthlyData.Aug, monthlyData.Sep, monthlyData.Oct],\n                    backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56'],\n                    borderWidth: 0\n                }]\n            },\n            options: {\n                responsive: true,\n                maintainAspectRatio: true,\n                plugins: {\n                    legend: { display: false },\n                    tooltip: {\n                        callbacks: {\n                            label: function(context) {\n                                return 'Expenses: $' + context.parsed.y.toFixed(2);\n                            }\n                        }\n                    }\n                },\n                scales: {\n                    y: {\n                        beginAtZero: true,\n                        ticks: {\n                            callback: function(value) {\n                                return '$' + value.toLocaleString();\n                            }\n                        }\n                    }\n                }\n            }\n        });\n        \n        // Trend Line Chart\n        const ctxTrend = document.getElementById('trendChart').getContext('2d');\n        const trendDatasets = categoryLabels.slice(0, 8).map((category, idx) => ({\n            label: category,\n            data: [\n                categoryMonthlyData[category].Aug,\n                categoryMonthlyData[category].Sep,\n                categoryMonthlyData[category].Oct\n            ],\n            borderColor: colors[idx],\n            backgroundColor: colors[idx] + '20',\n            tension: 0.4,\n            fill: false\n        }));\n        \n        new Chart(ctxTrend, {\n            type: 'line',\n            data: {\n                labels: ['August', 'September', 'October'],\n                datasets: trendDatasets\n            },\n            options: {\n                responsive: true,\n                maintainAspectRatio: true,\n                plugins: {\n                    legend: {\n                        position: 'bottom',\n                        labels: {\n                            padding: 15,\n                            font: { size: 11 }\n                        }\n                    },\n                    tooltip: {\n                        mode: 'index',\n                        intersect: false\n                    }\n                },\n                scales: {\n                    y: {\n                        beginAtZero: true,\n                        ticks: {\n                            callback: function(value) {\n                                return '$' + value.toLocaleString();\n                            }\n                        }\n                    }\n                }\n            }\n        });\n        \n        // Filter functionality (placeholder)\n        function filterData() {\n            const month = document.getElementById('monthFilter').value;\n            const category = document.getElementById('categoryFilter').value;\n            const search = document.getElementById('searchBox').value.toLowerCase();\n            \n            console.log('Filtering by:', { month, category, search });\n            // In a real implementation, this would update the charts and tables\n            alert('Filtering by: Month=' + month + ', Category=' + category + ', Search=' + search);\n        }\n        \n        // Export to CSV\n        function exportToCSV() {\n            let csv = 'Vendor,Category,Total Spend,Transaction Count,Avg per Transaction\\n';\n            topVendors.forEach(vendor => {\n                csv += `\"${vendor.name}\",\"${vendor.category}\",${vendor.total.toFixed(2)},${vendor.count},${(vendor.total/vendor.count).toFixed(2)}\\n`;\n            });\n            \n            const blob = new Blob([csv], { type: 'text/csv' });\n            const url = window.URL.createObjectURL(blob);\n            const a = document.createElement('a');\n            a.href = url;\n            a.download = 'bank_transactions_analysis.csv';\n            a.click();\n        }\n    </script>\n</body>\n</html>\n`;\n\nreturn [{ json: { html } }];"
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "Generate Dashboard HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "html",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "Display Dashboard",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Load Transaction Data", "type": "main", "index": 0 }]]
    },
    "Load Transaction Data": {
      "main": [[{ "node": "Categorize & Analyze", "type": "main", "index": 0 }]]
    },
    "Categorize & Analyze": {
      "main": [[{ "node": "Generate Dashboard HTML", "type": "main", "index": 0 }]]
    },
    "Generate Dashboard HTML": {
      "main": [[{ "node": "Display Dashboard", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a2b3c4d-5e6f-7890-abcd-ef1234567890",
  "id": "12345678-90ab-cdef-1234-567890abcdef",
  "meta": {
    "instanceId": "n8n-instance-id"
  },
  "tags": []
}
